.Card {
    background: transparent;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 30rem;
    width: 21rem;
    min-width: 21rem;
    max-width: 21rem;
    text-align: left;
    font-size: 1.4rem;
    transition: 0.25s ease-in-out;
}

.cardList {
    padding-top: 1rem;
    max-width: 100vw;
    display: grid;
    grid-template-columns: calc(100vw / 11) calc(100vw / 11) calc(100vw / 11) 
        calc(100vw / 11) calc(100vw / 11) calc(100vw / 11) calc(100vw / 11) 
        calc(100vw / 11) calc(100vw / 11) calc(100vw / 11) calc(100vw / 11);
}

.cardList.greyedOut .Card {
    opacity: 0.6;
    cursor: not-allowed;
    transition: 0.25s ease-in-out;
}

.cardWrapper {
    max-width: calc(100vw / 10);
}

.middleDeck {
    display: flex;
    grid-template-columns: calc(100vw / 10) calc(100vw / 10) calc(100vw / 10);
    width: calc(((100vw / 10)*3));
    margin: 0 auto;
}

.middleDeck.greyedOut .Card {
    opacity: 0.6;
    cursor: not-allowed;
    transition: 0.25s ease-in-out;
}