.Lobby .nameForm {
    display: flex;
    flex-direction: column;
    max-width: 25rem;
    padding: 5rem;
    margin: 0 auto;
}

.Lobby .nameForm label, .Lobby .nameForm input {
    margin: 0.6rem 0;
}

.Lobby .nameForm input {
    padding: 0.2rem;
}

.Lobby .loading {
    margin: 0 auto;
    text-align: center;
}